.container{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: wheat;
}
.button-box{
  display: grid;
  grid-template-columns: repeat(4,40px);
  padding-top: 40px;
}
.Display-box{
  width: 260px;
  height:40px;
  border: 2px solid grey;
  border-radius: 5px;
  background-color: white;
  font-size: 20px;
}
.display-container{
  padding:25px 14px;
}
